<div class="container my-4">
  <div class="flex justify-center">
    <h1>Angular Hover Demo</h1>
  </div>
  <hr>
  <ng-container *ngFor="let each of data">
    <div class="grid grid-cols-3 gap-4 md:w-1/2 mx-auto">
      <div class="flex justify-center h-20 w-full items-middle rounded-lg bg-gray-200 m-1" #left>
        <ng-container *ngIf="each.alignment === 'left'">
          <div class="grid place-content-center p-2">{{ each.text }}</div>
        </ng-container>
      </div>
      <div class="h-20 w-full rounded-lg bg-gray-200 hover:bg-gray-400 m-1 cursor-pointer" [appGroupHover]="{
        elements: [each.alignment === 'left' ? left : right],
        classList: 'bg-gray-600 text-white'
      }"></div>
      <div class="flex justify-center h-20 w-full rounded-lg bg-gray-200 m-1" #right>
        <ng-container *ngIf="each.alignment === 'right'">
          <div class="grid place-content-center p-2">{{ each.text }}</div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
